.details-container {
	display: grid;
	grid-template-columns: 25% 5% 65% 5%;
	grid-template-rows: 20% 10% 10% 10% 10% 10% 10% 10% 10%;
}


#quick-info {
	grid-row-start: 1;
	grid-row-end: 3;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	text-align: center;
}

#quick-info .ant-card-body {
	text-align: left;
}


#details-pic {
	margin-bottom: 15px;
	margin-left: 25%;
	width: 50%;
	border: 1px solid black;
}

#additional-info {
	grid-row-start: 3;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
text-align: center;
}

#additional-info .ant-card-body {
 text-align: left
}

.additional-info-list {
	margin-left: -35px;
}

.ant-tabs {
	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

.ant-timeline {
	grid-column-start: 3;
	grid-row-start: 3;
}

.ant-card {
	margin-top: 0px !important;
}
