.details-container {
	display: grid;
	grid-template-columns: 25% 5% 65% 5%;
	grid-template-rows: 20% 10% 10% 10% 10% 10% 10% 10% 10%;
}


#quick-info {
	grid-row-start: 1;
	grid-row-end: 3;
}


#additional-info {
	grid-row-start: 4;
}

.ant-tabs {
	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}

.ant-timeline {
	grid-column-start: 3;
	grid-row-start: 4;
}

.ant-card {
	margin-top: 0px !important;
}