.body-container {
	width: 100%;
	height: 100%;
	margin-left: 15%;
	position: fixed;
}

.ant-input {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
height: 32px;
}

.vertical-menu .ant-btn {
	height: 32px;
}
.app-container {
	width: 83%;
	height: 83%;
	margin: 1%;
	position: fixed;
}


.settings-options {
	float:right;
}

.vertical-menu {
	overflow:hidden;
}

.ant-avatar {
	background-color: #FFF;
}

.settings-options .ant-badge {
	margin: 10px;
	font-size: 32px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	border-color: #D9D9D8;
	border-radius: 3px;
	border: 1px solid transparent;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.settings-options .anticon {
	color: rgba(0,0,0,.65);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.settings-options .ant-badge:hover .anticon {
	color: #40a9ff;
}

.settings-options {
	margin-right: 5px;
}
.ant-avatar:hover {
		color: #40a9ff;
}

.ant-badge:hover {
	cursor: pointer;
	border-color: #40a9ff;
}

.vertical-menu {
	height: 8%;
	margin-right: 100px;
	width: 100%;
	overflow-x: hidden;
}

.ant-input-search {
	width: 50%;
	margin: 15px;
}

.main-content {
	margin-top: 2%;
	height: 100%;
}

.name-and-new {
	height: 8%;
	display: flex;
	margin: 0px 15px;
	justify-content: space-between;
	margin-top:20px;
}

.name-and-new h1{
	font-size: 40px;
}

#add-new {
	margin: 15px;
	font-size: 14px;
	padding: 0px 50px;
	float:right;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
