body {
  margin: 0;
  padding: 0;
  background-color: #F7F9FA;
}



@font-face {
	font-family: 'Proxima Nova';
	src: "../public/PendoFonts/proximanova-regular.otf";
}

body {
	font-family: 'Proxima Nova';
}