.nav-bar {
	border-right: black thin solid;
	width: 15%;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	background-color: #011529;
}


.logo {
	width: 100%;
	height: 100px;
	text-align: center;
	position: relative;
}

.logo h1 {
	margin: 0;
	margin-top: 10%;
	color: rgba(255, 255, 255, 0.65);
}

.nav-items {
	list-style: none;
	width: 100%;
	padding: 0;
}


.nav-item {
	margin: 35px 0px;
	font-size: 20px;
	border-top: grey thin solid;
	border-bottom: grey thin solid;
	padding: 15px 0px;
	cursor: pointer;
}



.fa-angle-double-right {
	color: #4A90E2;
	margin-left: 25%;
}

