.App {
    height: 100%;
}


.pendo-sales-engineering-footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    width: 83%;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}

.heart {
    color: #1890ff;
}
